/* ============ VARIABLES ============ */
:root{
    --background-color: #3B0262;
    --main-color: #7210B5;
    --hover-color: #BF75F2;
    --active-color: #A94FE6;
    --focus-color: #FFFDDD;
    --text-color: #FFFDDD;
    --big-font-size: clamp(1.2rem, 5vw, 2.3rem);
    --text-size: clamp(0.8rem, 10vw, 1rem);
    --button-width: clamp(5rem, 20vw, 6.6rem);
    --button-height: clamp(2rem, 20vw, 2.8rem);
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--text-size);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
  font-size: var(--big-font-size);
}

button{
  padding: 0;
  border: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.App {
  /* margin-top: 1.5rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: min(60%, 90%);
  /* width: 65%; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-grid{
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 1rem;
}

.card{
  position: relative;
}

.card img{
  width: 100%;
  display: block;
  /* border: 2px solid #fff; */

} 
/* front cover*/
.card .front{
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front{
  transform: rotateY(0deg);
  transition-delay:0.2s;
}

/* back cover*/
.card .back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.win-window{
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.5);
  opacity:0;
  pointer-events: none;
  transition: 0.5s;
}

.win-window.active {
  opacity:1;
  pointer-events: all;
}
.win-container{
  padding: 2rem 5rem 2rem 5rem;
  background-color: var(--focus-color);
  border-radius: 3rem;
  font-weight: 500;
  color: var(--background-color);
  transform: scale(0.5);
  transition: 0.4s;
}

.win-container.active{
  transform: scale(1);
}

.bold{
  font-weight: 600;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
}

.level-button-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.button{
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 0.9rem;
  font-weight: 500;
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
}

.button:hover{
  background-color: var(--hover-color);
}

.button:active{
  background-color: var(--active-color);
}

.selected{
  background-color: var(--active-color);
}

@media screen and (max-width: 768px) {
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
}


@media screen and (max-width: 560px) {

  .card-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
}


@media screen and (max-width: 380px) {

  
}
