/* ============ VARIABLES ============ */

:root{
    --background-color: #3B0262;
    --main-color: #7210B5;
    --hover-color: rgba(114, 16, 181, 0.6);
    --active-color: rgba(114, 16, 181, 0.3);
    --focus-color: #FFE500;
    --text-color: #FFFDDD;
    --big-font-size: clamp(1.2rem, 5vw, 2.5rem);
    --text-size: clamp(0.9rem, 5vw, 1.1rem);
    --button-width: clamp(1rem, 20vw, 7rem);
    --button-height: clamp(2rem, 20vw, 3rem);
}

button{
  padding: 0;
  border: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--text-size);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
  font-size: var(--big-font-size);
}

.App {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-grid{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 1.5rem;
}

.card{
  position: relative;
}

.card img{
  width: 100%;
  display: block;
  /* border: 2px solid #fff; */

} 
/* front cover*/
.card .front{
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front{
  transform: rotateY(0deg);
  transition-delay:0.2s;
}

/* back cover*/
.card .back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.pop-window{
  width: 30%;
  background-color: red;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.level-button-container{
  display: flex;
  gap: 1rem;
}

.button{
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--main-color);
}

.button:hover{
  background-color: var(--hover-color);
}

.button:active{
  background-color: var(--active-color);
}

.selected{

}

@media screen and (max-width: 768px) {
  .card-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 1.5rem;
  }
  
}


@media screen and (max-width: 560px) {

  .card-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 1rem;
  }
  
}


@media screen and (max-width: 380px) {

  .App {
    font-size: 0.7rem;
  }

  .card-grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 0.7rem;
  }
  
}
